.skills-section .card .card-head {
  background-color: #f9fafc;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0.7rem;
  padding-bottom: 0rem;
  border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.125);
}

.skills-section h1 > span{
  margin-top: -55px;  /* Size of fixed header */
  padding-bottom:55px; 
  display: block; 
}

.skills-section .skill-card-link {
  text-decoration: none;
}

.skills-section .card .card-img-xs {
  margin-right: 0.5rem;
}

.skills-section .card {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  height: 100%;
}

.skills-section .card .card-body {
  padding-top: 0.2rem;
  padding-left: 0.7rem;
}

/* ============= Device specific fixes ======= */

/* Large screens such as TV */
@media only screen and (min-width: 1824px) {
}

/* Extra large devices (large desktops, 1200px and up) */

@media (max-width: 1400px) {
}

@media (max-width: 1200px) {
}

/* IPad Pro */
@media (max-width: 1024px) {
}

/*  Large devices (desktops, 992px and up) */

@media (max-width: 992px) {
}

/* Medium devices (tablets, 768px and up) */

@media only screen and (max-width: 768px) {
  .skills-section {
    padding-left: 0;
    padding-right: 0;
  }
  .skills-section .container {
    max-width: 95%;
  }
}

/* Small devices (landscape phones, 576px and up) */

@media only screen and (max-width: 576px) {
}

/* iPhoneX, iPhone 6,7,8 */
@media only screen and (max-width: 375px) {
}

/* Galaxy S5, Moto G4 */
@media only screen and (max-width: 360px) {
}

/* iPhone 5 or before */
@media only screen and (max-width: 320px) {
}

.pricing .card {
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.pricing hr {
  margin: 1.5rem 0;
}

.pricing .card-title {
  margin: 0.5rem 0;
  font-size: 1rem;
  letter-spacing: .1rem;
  font-weight: bold;
}

.pricing .card-price {
  font-size: 3rem;
  margin: 0;
}

.pricing .card-price .period {
  font-size: 0.8rem;
}

.pricing ul li {
  margin-bottom: 0.8rem;
  font-size: 0.9rem;
}

.pricing .text-muted {
  opacity: 0.7;
}

.pricing .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  opacity: 0.7;
  transition: all 0.2s;
}

/* Hover Effects on Card */

@media (min-width: 992px) {
  .pricing .card:hover {
    margin-top: -.25rem;
    margin-bottom: .25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }
  .pricing .card:hover .btn {
    opacity: 1;
  }
}
